:root {
  --size1: 20px;
  --size2: 15px;
  --size3: 10px;
}

.song-thumbnail {
  width: 220px;
  height: 220px;
  border-radius: 100%;
  object-fit: cover;
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.audio-time-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls {
  /* color: black;  */
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 0;
}

.btn-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-play-pause {
  padding: var(--size2);
  border-radius: 100%;
}

.btn-next,
.btn-previous {
  padding: var(--size2);
}

.btn-next:active,
.btn-previous:active {
  padding: var(--size2);
  color: #800757;
}

.btn-loop,
.btn-shuffle {
  padding: var(--size2);
  margin: 0 20px 0 20px;
}

.btn-volume {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: var(--size2);
  border-radius: 100%;
  top: 30px;
  right: 30px;
}

.volume-slider {
  /* position: relative;
  padding: 25px;
  top: 45px;
  right: 0px; */
  display: none;
}

.btn-volume:hover .volume-slider {
  position: absolute;
  padding: 25px;
  top: 45px;
  right: 0px;
  display: flex;
}

.time-slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.current-time,
.duration-time {
  margin: 0 5px 0 5px;
}
