.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 16%;
}

.btn-previous,
.btn-next {
  padding: 7px;
  border-radius: 100%;
  width: 30px;
}

/* .btn-next:hover,
.btn-previous:hover, */
.btn-play-pause:hover {
  background-color: white;
}

.btn-play-pause {
  margin: 0px 32px;
  padding: 5px 5px 1px;
  width: 50px;
  border-radius: 100%;
}

.btn-repeat {
  margin: 32px;
  padding: 1px 5px;
  width: 25px;
  border-radius: 100%;
}

.btn-random {
  margin: 32px;
  padding: 1px 7px;
  width: 30px;
  border-radius: 100%;
}

.btn-repeat:active,
.btn-random:active {
  background-color: white;
}

.btn-volume {
  display: flex;
  padding: 7px;
  width: 500px;
  align-items: center;
}

.btn-volume .icon {
  display: flex;
  align-items: center;
  width: 30px;
  padding: 12px;
}

.icon .volume-slider{
  display: none;
  position: absolute;
}

.btn-volume .icon:hover .volume-slider {
  display: block;
  padding: 50px;
}
